body{
    background: #A781F5;
}

#btn{
    width: 500px;
    height: 300px;
    background: #17DAB6;
    border-radius: 50%;
    margin: 30px auto;
    text-align: center;
    line-height: 300px;
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
    box-shadow: 0 20px 0 #023112;
    user-select: none;
}

#btn:active {
    box-shadow: 0 10px 0 #023112;
    margin-top: 45px;
}


h1 {
    position: relative;
    padding: 0.2em 0.5em;
    background: -webkit-linear-gradient(to right, #FFC310,  #f5e3af);
    background: linear-gradient(to right, #FFC310, #f5e3af);
    color: white;
    text-align: center;

  }

.home-btn {
    padding: 16px 48px;
    color: white;
    border-radius: 10px;
    background-image: linear-gradient(to right, #ffecd2  0%,  #17DAB6 51%, #ffecd2  100%);
    margin-left: 80%;
}
